.sidebar-visible{
    min-width: 200px;
    width: 20%;
    min-height: 100%;
    top: 0;
    right: 0;
    padding: 20px;
    background: linear-gradient(45deg, black, rgb(78, 77, 77));
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    border-radius: 8px;
    opacity: 1;
    visibility: visible;
}
.sidebar-not-visible{
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: width 0.5 ease-out;
    transition: opacity 0.5 ease-out;
}
.input-container{
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}
.input-container input{
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    max-width: 90%;
    width: fit-content;
    height: 100%;
    margin-right: 2px;
    flex: 1;
}
.input-container input::placeholder{
    color: rgb(193, 189, 189);
}
.input-container input:hover{
    border-color: #6a5acd;
    box-shadow: 0 0 8px rgba(106, 90, 205, 0.5); 
    transform: translateY(-0.5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.input-container button{
    outline: none;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    float: left;
    margin-left: 2px;
    color: white;
    background-color: transparent;
    cursor: pointer;
}
.input-container button:hover{
    transform: translateY(-0.5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.popup-container-setting-task{
    position: absolute;
    top: 110%;
    right: 20px;
    width: 0;
    height: 0;
    background-color: white;
    color: black;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transition: opacity 0.5s ease;
}
.popup-container-setting-task ul{
    list-style-type: none;
}
.popup-container-setting-task ul li{
    border-bottom: 1px solid rgb(178, 176, 176);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 5px;
}
.popup-container-setting-task ul li p{
    flex: 1;
    font-size: 0.8rem;
}
.popup-container-setting-task ul li div{
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
    cursor: pointer;
}
.popup-container-visible{
    width: 75%;
    height: fit-content;
    opacity: 1;
    visibility: visible;
    right: 0%;
}
.task-container{
    flex: 1;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border-bottom: 1px solid rgb(61, 60, 60);
    gap: 14px;
}
.task-card{
    list-style-type: none;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 0.9rem;
    align-items: center;
    justify-content: stretch;
}
.task-card:hover{
    transform: translateY(-1px);
    transition-delay: 0.5s;
}
.check{
    outline: none;
    border: 1px solid grey; 
    width: fit-content;
    height: fit-content;
    margin-right: 6px;
}
.task-card label{   
    flex: 1;
    overflow: hidden;
}
.task-card .task-button{
    width: fit-content;
    height: fit-content;
    outline: none;
    border: none;
    margin: 0;
    margin-left: 6px;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: 6px;
    align-items: center;
}
.task-button button{
    background-color: transparent;
    border: none;
    outline: none;
}
.task-footer{
    padding: 0;
    margin: 5px;
}
.task-footer button{
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}