*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
#root{
    color: white;
    font-size: 10px;
    background: linear-gradient(45deg, black, grey);
    height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}
/*header*/
.header-main-container{
    display: flex;
    flex-direction: column;
}
header{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr; /* Crea 3 colonne uguali */
    padding: 10px;
    height: 10%;
    width: 100%;
    border-bottom: 2px solid rgb(50, 49, 49);
    background: linear-gradient(45deg, black, rgb(78, 77, 77));
    align-items: stretch;
    gap: 14px;
    align-items: center;
    margin-bottom: 0;
}
header div{
    display: flex;
    gap: 14px;
    flex-direction: row;
}
header button{
    display: flex;
    max-width: 20px;
    max-height: 20px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
header button i{
    color: white;
}
header div i{
    cursor: pointer;
}
header select{
    width: 30%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    float: left;
    min-width: fit-content;
    overflow-y:scroll;
}
.frecce{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.frecce button{
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    width: max-content;
    height: max-content;
}
header ul{
    position: absolute;
    top: 40%;
    right: 5%;
    display: flex;
    width: fit-content;
    flex-direction: row;
    list-style: none;
}
header ul li{
    float: right;
    flex: 1;
    width: fit-content;
    max-width: fit-content;
}
/*board*/
main{
    height: 100vh;
    padding: 2rem;
    padding-top: 0;
    margin-top: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background: linear-gradient(45deg, black, grey);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
table{
    margin: 5px;    
    min-height: 100%;
    width: 100%;
    margin-top: 5px;
    flex: 1;
    transition: width 0.5s ease;
}
td{
    border: 1px solid black;
    width: 14%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
td:hover{
    background-color: rgb(68, 68, 68);
}
.selected-cell{
    background-color: rgb(123, 122, 122);
}
th{
    border: 1px solid black;
    width: 14%;
}
/*task*/
/*menu*/
/*navbar*/
nav{
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 100%;
    width: fit-content;
    background-color: rgb(56, 56, 56);
    border-radius: 8px;
    margin-top: 5px;
    padding: 10px;
}
nav i{
    font-size: 1rem;
    padding: 4px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
}